os: linux
dist: focal
language: python
python:
  - "3.9"
  - "3.10"
  - "3.11"
  - "3.12"
install:
  - python -m pip install --upgrade pip uv
  - uv sync --dev
script:
  - uv pip list
  - uv run pytest tests/
